{% extends 'product_layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="mt-3 mb-3 col-8">Add Item</h5>
        </div>

        <hr>
        <div class="row col-lg-12">
            <div class="btn btn-sm btn-outline-primary col-lg-2 col-md-4 col-sm-4 offset-lg-10 offset-md-8 col-sm-8
            offset-sm-4">+ Add category</div>
        </div>
        <form action="{{ url_for('add') }}" method="POST" class="mb-4 mt-5" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category,message in messages %}
                        <div class="alert alert-{{ category }} col-sm-12 col-md-8 col-lg-6">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

    <div class="row">

         <div class="form-group col-lg-6 ">
            {{ form.title.label(class='form-control-label')}}
            {% if form.title.errors %}
            {{ form.title(class="form-control col-lg-12 form-control-sm is-invalid
            col-sm-12")}}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control  col-lg-12 form-control-sm col-sm-12 ")}}
            {% endif %}
        </div>

        <div class="form-group col-lg-6">
                    {{ form.category.label(class='form-control-label')}}
                    {% if form.category.errors %}
                    {{ form.category(class="form-control col-lg-12 is-invalid col-sm-12")}}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.category(class="form-control col-lg-12 col-sm-12")}}
                    {% endif %}
        </div>
    </div>
    <div class="row ">
        <div class="form-group col-lg-6">
                    {{ form.price.label(class='form-control-label')}}
                    {% if form.price.errors %}
                    {{ form.price(class="form-control col-lg-12 form-control-sm is-invalid ")}}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.price(class="form-control col-lg-12  form-control-sm ")}}
                    {% endif %}
                </div>

        <div class="form-group col-lg-6">
                    {{ form.media.label(class='form-control-label')}}
                    {% if form.media.errors %}
                    {{ form.media(class="form-control-file col-lg-12 ")}}
                    <div class="invalid-feedback">
                        {% for error in form.media.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.media(class="form-control-file col-lg-12 ")}}
                    {% endif %}
                </div>

        </div>

<div class="row">
    <div class="form-group col-lg-6">
                    {{ form.expires.label(class='form-control-label')}}
                    {% if form.expires.errors %}
                    {{ form.expires(class="form-control form-control-sm is-invalid col-lg-12 col-sm-12")}}
                    <div class="invalid-feedback">
                        {% for error in form.expires.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.expires(class="form-control form-control-sm col-lg-12 col-sm-12")}}
                    {% endif %}
                </div>

    <div class="form-group col-lg-6">
        {{ form.active.label(class='form-control-label')}}
        {% if form.active.errors %}
        {{ form.active(class="form-control form-control-sm is-invalid  col-lg-12 col-sm-12")}}
        <div class="invalid-feedback">
            {% for error in form.active.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.active(class="form-control form-control-sm col-lg-12 col-sm-12")}}
        {% endif %}
    </div>

</div>

         <div class="form-group ">
                    {{ form.description.label(class='form-control-label')}}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-sm is-invalid col-lg-6 col-sm-12")}}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-sm col-lg-6 col-sm-12")}}
                    {% endif %}
                </div>
            <br>
        <div class="mt-5 mb-3 mt-4">
             {{ form.submit(class="btn col-lg-3 col-md-6 col-sm-12 btn-sm btn-success btn-block mt-4")}}
    </div>
</form>
        <br><br><br><br>
{% endblock content %}