{% extends 'product_layout.html' %}
{% block content %}
 <main id="main">
    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6" data-aos="fade-up">
            <h5>{{ product['name'] }}</h5>
          </div>
        </div>
      </div>
      <div class="site-section pt-0">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-md-7 mt-4" data-aos="fade-up">
              <img src="{{ url_for('static',filename='uploads/'+product['images'][0]) }}" alt="Image"
              class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">
                <h3 class="h3 mt-5">{{ product["name"] }}</h3>
                <p class="mb-4"><span class="text-muted">{{ product['category'] }}</span></p>
                <div class="mb-5">
                  <p>
                      {{ product['description'] }}
                  </p>
                    <form action="{{ url_for('cancel_order',name=product["name"]) }}" method='POST'>
                    {{ form.hidden_tag() }}
                        <div class="mt-5 mb-3">
                             {{ form.submit(class="btn col-lg-3 col-md-6 col-sm-12 btn-sm btn-danger btn-block mt-4")}}
                        </div>
                    </form>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<!-- End #main -->
{% endblock content %}