{% extends 'request_layout.html' %}
{% block book %}
    <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">
                <h3 class="h3 mt-5">Make A Booking</h3>
                <p class="mb-4"><span class="text-muted">Make an request for more info and hire</span></p>

                <div class="mb-5">
                    <small class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem
                        hic quas soluta? Excepturi magnam molestias nam provident quis temporibus.</small>
                </div>
                  <div class="align-items-center">
                      <div class="row">
                          <div class="col-4">
                              <img src="{{ url_for('static',filename='img/success.png') }}" class='col-12'
                                   alt="success">
                          </div>
                          <div class="col-8">
                              <h5>Success!</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda cumque minus nam nemo, neque numquam optio qui quos ullam.</p>
                          </div>
                      </div>
                  </div>

                </p>
              </div>
            </div>
{% endblock book %}