{% extends 'request_layout.html' %}
{% block book %}
    <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">
                <h3 class="h3 mt-5">Make A Booking</h3>
                <p class="mb-4"><span class="text-muted">Make an request for more info and hire</span></p>

                <div class="mb-5">
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem hic quas soluta? Excepturi magnam molestias nam provident quis temporibus.</small>
                    <h1>Success! Booking Made</h1>
                </div>
                </p>
              </div>
            </div>
{% endblock book %}