{% extends 'layout.html' %}
{% block content %}

     <main id="main">
    <!-- ======= SHOP SECTION ======= -->
    <section class="section site-portfolio">
          <div id="main">
            <!-- ======= SHOP SECTION ======= -->
            <section class="section site-portfolio">
              <div class="container">
                <div class="row mb-5 align-items-center">
                  <div class="col-md-12 col-lg-6 mb-4 mb-lg-0"  data-aos="fade-up">
                    <h4 class="mt-2">Our Services</h4>
                  </div>
                  <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
                  <!--NAVIGATION-->
                  <div id="filters" class="filters">
                      <a href="#" data-filter="*" class="active">All</a>
                      <a href="#" data-filter=".events">events</a>
                      <a href="#" data-filter=".travel">Travel</a>
                      <a href="#" data-filter=".rental">Rentals</a>
                  </div>
                  <!--END NAVIGATION-->
                  </div>

                </div>

                <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
                    <!--item start-->
                  <div class="item events col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item')}}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h3>Boxed Water</h3>
                        <span>Events</span>
                      </div>
                      <img class="img-fluid" src="{{ url_for('static',filename='assets/img/img_1.jpg')}}">
                    </a>
                  </div>
                <!--item end-->


                    <div class="item travel col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item') }}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h3>Cocooil</h3>
                        <span>Travel</span>
                      </div>
                      <img class="img-fluid" src="{{ url_for('static',filename='assets/img/img_3.jpg') }}">
                    </a>
                  </div>

                  <div class="item events col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item') }}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h3>Build Indoo</h3>
                        <span>rentals</span>
                      </div>
                      <img class="img-fluid" src="{{ url_for('static',filename='assets/img/img_2.jpg') }}">
                    </a>
                  </div>



                    <div class="item rental col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item') }}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h3>Cocooil</h3>
                        <span>Rental</span>
                      </div>
                      <img class="img-fluid" src="{{ url_for('static',filename='assets/img/img_3.jpg') }}">
                    </a>
                  </div>

                  <div class="item travel col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item')}}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h3>Nike Shoe</h3>
                        <span>Travel</span>
                      </div>
                      <img class="img-fluid" src="{{ url_for('static', filename='assets/img/img_4.jpg') }}">
                    </a>
                  </div>

                  <div class="item rentals col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item')}}" class="item-wrap fancybox">
                      <div class="work-info">
                        <h3>Kitchen Sink</h3>
                        <span>Rentals</span>
                      </div>
                      <img class="img-fluid" src="{{ url_for('static', filename='assets/img/img_5.jpg') }}">
                    </a>
                  </div>

                  <div class="item rentals col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="{{ url_for('item')}}" class="item-wrap ">
                      <div class="work-info">
                        <h3>Amazon</h3>
                        <span>Rentals</span>
                      </div>
                      <img class="img-fluid" src="{{  url_for('static',filename='assets/img/img_6.jpg') }}">
                    </a>
                  </div>

                </div>
              </div>
            </section><!-- End  Works Section -->
      </div><!-- End #main -->

    </section><!-- End Testimonials Section -->
</main><!-- End #main -->

{% endblock content %}