<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mizimob</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
<!-- <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,
600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
{#<link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">#}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/line-awesome/css/line-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/owl.carousel/assets/owl.carousel.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/aos/aos.css') }}") rel="stylesheet">

{#  rel="stylesheet">#}

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">

</head>

<body>

<!--The video player BG start-->
<div id="">
    <!-- ======= Navbar ======= -->
  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="{{  url_for('static',filename='logo.jpg') }}" id="logo" height="70" ®alt="Mizimob">
      </a>
    </div>
  </nav>


</div>

<div class="main mb-5 mt-5">
    <div class="container">
            <form action="{{ url_for('login') }}" method='POST'>
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category,message in messages %}
                        <div class="alert alert-{{ category }} col-sm-12 col-md-8 col-lg-6">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <h4>Login</h4>
                <div class="col-lg-5">
                    <hr>
                </div>
                <br>
                <div class="form-group ">
                    {{ form.email.label(class='form-control-label')}}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-sm is-invalid col-lg-6 col-md-6 col-sm-12")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-sm col-lg-6 col-md-6 col-sm-12")}}
                    {% endif %}
                </div>

                 <div class="form-group mt-2">
                    {{ form.password.label(class='form-control-label')}}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control  form-control-sm is-invalid col-lg-6 col-md-6 col-sm-12")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-sm col-lg-6 col-md-6 col-sm-12")}}
                    {% endif %}
                </div>

                    <div class="mt-5 mb-3">
                         {{ form.submit(class="btn col-lg-3 col-md-6 col-sm-12 btn-sm btn-success btn-block mt-4")}}
                    </div>

                    <span class="btn btn-sm btn-link">forgot password</span>


            </form>
    </div>
</div>

<!--the head ...-->
<br><br><br>
 <!-- ======= Footer ======= -->
  <footer class="footer mt-4" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright MiziMob 2020. All Rights Reserved</p>
        </div>
{#        <div class="col-sm-6 social text-md-right">#}
{#          <a href="#"><span class="icofont-twitter"></span></a>#}
{#          <a href="#"><span class="icofont-facebook"></span></a>#}
{#          <a href="#"><span class="icofont-dribbble"></span></a>#}
{#          <a href="#"><span class="icofont-behance"></span></a>#}
{#        </div>#}
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename="assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/owl.carousel/owl.carousel.min.js' )}}"></script>
  <!-- Template Main JS File -->
<script src="{{ url_for('static',filename='assets/js/main.js' ) }}"></script>

</body>

</html>