{% extends 'request_layout.html' %}
{% block book %}
    <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">

                <h3 class="h3 mt-5">Make A Booking</h3>
                <p class="mb-4"><span class="text-muted">Make an request for more info and hire</span></p>

                <div class="mb-5">
                    <small class="text-muted">Please fill the form below to make a booking for he current product
                        .</small>
    <p></p>
{#                        start#}
                    {% if booked %}
                        <br>
                        <div class="align-items-center mt-3">
                          <div class="row">
                              <div class="col-4">
                                  <img src="{{ url_for('static',filename='img/success.png') }}" class='col-12'
                                       alt="success">
                              </div>
                              <div class="col-8">
                                  <h5>Success!</h5>
                                  <p>
                                      Booking made successfully. <br>
                                      Please wait for our team to contact you.
                                  </p>
                                  
                              </div>
                              <a href="{{ url_for('home') }}" class="btn btn-outline-secondary btn-sm mt-5
                              offset-4">Continue
                                  Shopping</a>
                          </div>
                      </div>
                    {% else %}
                        <form action="{{ more_info }}" method="POST">
                            {{ form.hidden_tag() }}
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                    {% for category,message in messages %}
                                    <div class="alert alert-{{ category }}">{{message}}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                                <div class="form-group ">
                                    {{ form.phone.label(class='form-control-label')}}
                                    {% if form.phone.errors %}
                                    {{ form.phone(class="form-control form-control-sm is-invalid ")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.phone(class="form-control form-control-sm ")}}
                                    {% endif %}
                                </div>

                                <div class="form-group ">
                                    {{ form.email.label(class='form-control-label')}}
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-sm is-invalid ")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-sm ")}}
                                    {% endif %}
                                </div>

                                <div class="form-group ">
                                    {{ form.where.label(class='form-control-label')}}
                                    {% if form.where.errors %}
                                    {{ form.where(class="form-control form-control-sm is-invalid ")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.where.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.where(class="form-control form-control-sm ")}}
                                    {% endif %}
                                </div>

                                <div class="form-group ">
                                    {{ form.when.label(class='form-control-label')}}
                                    {% if form.when.errors %}
                                    {{ form.when(class="form-control form-control-sm is-invalid ")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.when.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.when(class="form-control form-control-sm ")}}
                                    {% endif %}
                                </div>

                            <div class="mt-5 mb-3">
                                 {{ form.submit(class="btn btn-sm btn-success btn-block mt-4")}}
                            </div>
        {#                        end #}
                        </form>
                    {%  endif %}
                </div>
                </p>
              </div>
            </div>
{% endblock book %}